In [ ]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# à¹‚à¸«à¸¥à¸”à¸•à¸±à¸§à¹à¸›à¸£à¸ˆà¸²à¸ .env
load_dotenv()

# à¸”à¸¶à¸‡à¸„à¹ˆà¸²à¸ˆà¸²à¸ environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# à¸ªà¸£à¹‰à¸²à¸‡ engine à¸ªà¸³à¸«à¸£à¸±à¸šà¹€à¸Šà¸·à¹ˆà¸­à¸¡à¸•à¹ˆà¸­à¸à¸²à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT quo_num,type_insure,type_work, type_status , type_key , app_type, chanel_key
FROM fin_system_select_plan 
WHERE datestart >= '2025-05-01' AND datestart < '2025-07-01'
AND type_insure IN ('à¸›à¸£à¸°à¸à¸±à¸™à¸£à¸–', 'à¸•à¸£à¸­')
"""

df = pd.read_sql(query, engine)
df

In [ ]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv() 

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance_task'

engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

query = """
SELECT quo_num,worksend
FROM fin_order

"""

df1 = pd.read_sql(query, engine)
df1

In [ ]:
df_merged = pd.merge(df, df1, on='quo_num', how='left')
df_merged

In [ ]:
import pandas as pd

def fill_chanel_key(row):
    chanel_key = row['chanel_key']
    type_key = row['type_key']
    app_type = row['app_type']
    type_insure = row['type_insure']

    # à¸–à¹‰à¸² chanel_key à¸¡à¸µà¸„à¹ˆà¸²à¸­à¸¢à¸¹à¹ˆà¹à¸¥à¹‰à¸§
    if pd.notnull(chanel_key) and str(chanel_key).strip() != "":
        return chanel_key

    # à¸–à¹‰à¸²à¸—à¸±à¹‰à¸‡ type_key à¹à¸¥à¸° app_type à¹„à¸¡à¹ˆ null
    if pd.notnull(type_key) and pd.notnull(app_type):
        if type_key == app_type:
            if type_insure == 'à¸•à¸£à¸­':
                return f"{type_key} VIF"
            else:
                return type_key
        else:
            if type_key in app_type:
                base = app_type.replace(type_key, "").replace("-", "").strip()
                return f"{type_key} {base}" if base else type_key
            elif app_type in type_key:
                base = type_key.replace(app_type, "").replace("-", "").strip()
                return f"{app_type} {base}" if base else app_type
            else:
                return f"{type_key} {app_type}"

    # à¸–à¹‰à¸²à¸¡à¸µà¹à¸„à¹ˆ type_key
    if pd.notnull(type_key) and (pd.isnull(app_type) or str(app_type).strip() == ""):
        if pd.notnull(type_insure) and str(type_insure).strip() != "":
            return f"{type_key} {type_insure}"
        else:
            return type_key

    # à¸–à¹‰à¸²à¸¡à¸µà¹à¸„à¹ˆ app_type
    if pd.notnull(app_type) and (pd.isnull(type_key) or str(type_key).strip() == ""):
        if pd.notnull(type_insure) and str(type_insure).strip() != "":
            return f"{app_type} {type_insure}"
        else:
            return app_type

    # à¹„à¸¡à¹ˆà¸¡à¸µà¸­à¸°à¹„à¸£à¹€à¸¥à¸¢
    return None

# apply à¸à¸¥à¸±à¸š
df_merged['chanel_key'] = df_merged.apply(fill_chanel_key, axis=1)
df_merged

In [ ]:
df_merged['chanel_key'] = df_merged['chanel_key'].replace({
    'B2B': 'APP B2B',
    'WEB à¸•à¸£à¸­': 'WEB VIF',
    'TELE': 'APP TELE',
    'APP-B2C': 'APP B2C',
    'APP à¸›à¸£à¸°à¸à¸±à¸™à¸£à¸–' : 'APP B2B',
    'WEB à¸›à¸£à¸°à¸à¸±à¸™à¸£à¸–': 'WEB'
})
df_merged

In [ ]:
df_merged.drop(columns=['type_key', 'app_type'], inplace=True)
df_merged

In [ ]:
df_merged.rename(columns={
    "quo_num": "quotation_num",
    "type_insure": "type_insurance",
    "type_work": "order_type",
    "type_status": "check_type",
    "worksend": "work_type",
    "chanel_key": "key_channel"
}, inplace=True)
df_merged

In [ ]:
import numpy as np

df_merged = df_merged.replace(r'^\s*$', np.nan, regex=True)

df_merged = df_merged.where(pd.notnull(df_merged), None)
df_merged

In [ ]:
import numpy as np

# à¹à¸›à¸¥à¸‡à¸—à¸¸à¸à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹ƒà¸™ df_merged1 à¸–à¹‰à¸²à¸¡à¸µà¸„à¹ˆà¸²à¹€à¸›à¹‡à¸™ string "NAN" à¹ƒà¸«à¹‰à¹€à¸›à¸¥à¸µà¹ˆà¸¢à¸™à¹€à¸›à¹‡à¸™ np.nan
df_merged = df_merged.replace("NaN", np.nan)
df_merged

In [ ]:
df_merged = df_merged.drop_duplicates(subset=['quotation_num'], keep='first')
df_merged

db postgres update table quotation

In [ ]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# à¹‚à¸«à¸¥à¸”à¸•à¸±à¸§à¹à¸›à¸£à¸ˆà¸²à¸ .env
load_dotenv()

# à¸”à¸¶à¸‡à¸„à¹ˆà¸²à¸ˆà¸²à¸ environment
user = os.getenv('DB_USER_test')
password = os.getenv('DB_PASSWORD_test')
host = os.getenv('DB_HOST_test')
port = os.getenv('DB_PORT_test')  
database = 'fininsurance'

# à¸ªà¸£à¹‰à¸²à¸‡ engine à¸ªà¸³à¸«à¸£à¸±à¸šà¹€à¸Šà¸·à¹ˆà¸­à¸¡à¸•à¹ˆà¸­à¸à¸²à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT *
FROM dim_order_type 
"""

df5 = pd.read_sql(query, engine)
df5

In [ ]:
df5 = df5.drop(columns=['create_at', 'update_at'])
df5

In [ ]:
df_result = pd.merge(df_merged, df5, on=['quotation_num'], how='right')
df_result

In [ ]:
df_result = df_result[['quotation_num', 'order_type_id']]
df_result

In [ ]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# à¹‚à¸«à¸¥à¸”à¸•à¸±à¸§à¹à¸›à¸£à¸ˆà¸²à¸ .env
load_dotenv()

# à¸”à¸¶à¸‡à¸„à¹ˆà¸²à¸ˆà¸²à¸ environment
user = os.getenv('DB_USER_test')
password = os.getenv('DB_PASSWORD_test')
host = os.getenv('DB_HOST_test')
port = os.getenv('DB_PORT_test')  
database = 'fininsurance'

# à¸ªà¸£à¹‰à¸²à¸‡ engine à¸ªà¸³à¸«à¸£à¸±à¸šà¹€à¸Šà¸·à¹ˆà¸­à¸¡à¸•à¹ˆà¸­à¸à¸²à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT *
FROM fact_sales_quotation 
"""

df6 = pd.read_sql(query, engine)
df6

In [ ]:
df6 = df6.drop(columns=['create_at', 'update_at', 'order_type_id'])
df6

In [ ]:
df_result1 = pd.merge(df_result, df6, on=['quotation_num'], how='right')
df_result1

In [ ]:
df_result1 = df_result1.drop_duplicates(subset=['quotation_num'], keep='last')
df_result1

In [ ]:
import numpy as np
import pandas as pd

# à¹à¸à¹‰ NaT, NaN à¸—à¸±à¹‰à¸‡ dataframe à¹ƒà¸«à¹‰à¹€à¸›à¹‡à¸™ None
df_result1 = df_result1.where(pd.notnull(df_result1), None)

In [ ]:
import os
from sqlalchemy import create_engine, MetaData, Table, update
from sqlalchemy import text

user = os.getenv('DB_USER_test')
password = os.getenv('DB_PASSWORD_test')
host = os.getenv('DB_HOST_test')
port = os.getenv('DB_PORT_test')
database = 'fininsurance'

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

metadata = MetaData()
table = Table('fact_sales_quotation', metadata, autoload_with=engine)

records = df_result1.to_dict(orient='records')

chunk_size = 5000

for start in range(0, len(records), chunk_size):
    end = start + chunk_size
    chunk = records[start:end]

    print(f"ğŸ”„ Updating chunk {start // chunk_size + 1}: records {start} to {end - 1}")

    with engine.begin() as conn:
        for record in chunk:
            # à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸šà¸§à¹ˆà¸²à¸¡à¸µ quotation_num à¹à¸¥à¸° order_type_id à¸«à¸£à¸·à¸­à¹„à¸¡à¹ˆ
            if 'quotation_num' not in record or pd.isna(record['quotation_num']):
                print(f"âš ï¸ Skip row: no quotation_num: {record}")
                continue
            if 'order_type_id' not in record or pd.isna(record['order_type_id']):
                print(f"âš ï¸ Skip row: no order_type_id: {record}")
                continue

            # âœ… Update à¹€à¸‰à¸à¸²à¸°à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹€à¸”à¸µà¸¢à¸§
            stmt = (
                update(table)
                .where(table.c.quotation_num == record['quotation_num'])
                .values(order_type_id=record['order_type_id'])
            )
            conn.execute(stmt)

print("âœ… Update order_type_id completed successfully.")

# ğŸ”¥ à¸¥à¸šà¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ quotation_num à¹ƒà¸™à¸•à¸²à¸£à¸²à¸‡ dim_order_type
with engine.begin() as conn:
    conn.execute(text("ALTER TABLE dim_order_type DROP COLUMN quotation_num;"))

print("ğŸ—‘ï¸ à¸¥à¸šà¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ quotation_num à¹ƒà¸™à¸•à¸²à¸£à¸²à¸‡ dim_order_type à¹€à¸£à¸µà¸¢à¸šà¸£à¹‰à¸­à¸¢à¹à¸¥à¹‰à¸§!")