In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT quo_num,company, company_prb,assured_insurance_capital1,is_addon,type,repair_type
FROM fin_system_select_plan WHERE datestart >= '2025-06-01' AND datestart < '2025-07-01' and type_insure = 'ประกันรถ'
 
"""


# โหลดข้อมูลจากฐานข้อมูล
df = pd.read_sql(query, engine)

# แปลงให้ pandas เข้าใจได้แน่นอน
# df['user_registered'] = pd.to_datetime(df['user_registered'].astype(str), errors='coerce')
df

,quo_num,company,company_prb,assured_insurance_capital1,is_addon,type,repair_type
0,FQ2506-00105,เอ็มเอสไอจีประกันภัย,None,200000,0,1+,ซ่อมอู่
1,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,1,ซ่อมอู่
2,FQ2506-00108,แอกซ่าประกันภัย,None,0,0,,
3,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,1,ซ่อมห้าง
4,FQ2506-00111,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่
...,...,...,...,...,...,...,...
13065,FQ2506-26295,กรุงเทพประกันภัย,None,100000,0,2+,ซ่อมอู่
13066,FQ2506-26299,ธนชาตประกันภัย,None,410000,0,1,ซ่อมอู่
13067,FQ2506-26300,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่
13068,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1,ซ่อมอู่
13069,FQ2506-26308,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่

In [2]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv() 

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance_task'

engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

query = """
SELECT quo_num,responsibility1,responsibility2,responsibility3,responsibility4,damage1,damage2,damage3,damage4,protect1,protect2,protect3,protect4,
if(sendtype = 'ที่อยู่ใหม่',provincenew,province) as delivery_province,
show_ems_price,show_ems_type

FROM fin_order WHERE datekey >= '2025-06-01' AND datekey < '2025-07-01'

"""

df1 = pd.read_sql(query, engine)
df1

,quo_num,responsibility1,responsibility2,responsibility3,responsibility4,damage1,damage2,damage3,damage4,protect1,protect2,protect3,protect4,delivery_province,show_ems_price,show_ems_type
0,FV2506-02001,None,None,None,0,0,0,0,0,None,None,None,None,ชลบุรี,0,ปกติ
1,FQ2505-27937,None,None,None,None,None,None,None,None,None,None,None,None,ขอนแก่น,0,normal
2,FV2506-02002,None,None,None,0,0,0,0,0,None,None,None,None,กรุงเทพมหานคร,0,ปกติ
3,FV2506-02003,None,None,None,0,0,0,0,0,None,None,None,None,สมุทรปราการ,0,ปกติ
4,FV2506-02004,None,None,None,0,0,0,0,0,None,None,None,None,นครราชสีมา,0,ปกติ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42713,FL2506-02041-01,,,,,0,,0,0,,,,,,0,nor
42714,FL2506-02042-01,,,,,0,,0,0,,,,,,0,nor
42715,FL2506-02043-01,,,,,0,,0,0,,,,,,0,nor
42716,FQ2506-26304,1000000,10000000,5000000,0,230000,0,230000,200000,200000,200000,200000,250000,กาญจนบุรี,40,ems
42717,FL2506-02044-01,,,,,0,,0,0,,,,,,0,nor

In [3]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv() 

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

query = """
SELECT quo_num,date_warranty,date_exp

FROM fin_system_pay WHERE datestart >= '2025-06-01' AND datestart < '2025-07-01'

"""

df2 = pd.read_sql(query, engine)
df2

            quo_num date_warranty    date_exp
0      FV2506-02001    2025-06-01  2026-06-01
1      FN2506-00101    2025-06-01        None
2      FQ2505-28011    2025-06-01        None
3      FQ2506-00101    2025-06-02        None
4      FQ2506-00103    2025-06-01        None
...             ...           ...         ...
49512  FQ2506-26305    2025-07-19        None
49513  FQ2506-26307    2025-07-01        None
49514  FQ2506-26308    2025-07-01  2026-07-01
49515  FN2506-03629    2025-07-07  2025-07-13
49516  FQ2506-26312    2025-07-02        None

[49517 rows x 3 columns]

In [4]:
df_merged = df.copy()

df_merged = pd.merge(df_merged, df1, on='quo_num', how='left')
df_merged = pd.merge(df_merged, df2, on='quo_num', how='left')

In [5]:
def combine_columns(a, b):
    a_str = str(a).strip() if pd.notna(a) else ''
    b_str = str(b).strip() if pd.notna(b) else ''
    
    if a_str == '' and b_str == '':
        return ''
    elif a_str == '':
        return b_str
    elif b_str == '':
        return a_str
    elif a_str == b_str:
        return a_str
    else:
        return f"ชั้น{a_str} {b_str}"

df_merged['insurance_class'] = df_merged.apply(lambda row: combine_columns(row['type'], row['repair_type']), axis=1)

In [6]:
df_merged

,quo_num,company,company_prb,assured_insurance_capital1,is_addon,type,repair_type,responsibility1,responsibility2,responsibility3,...,protect1,protect2,protect3,protect4,delivery_province,show_ems_price,show_ems_type,date_warranty,date_exp,insurance_class
0,FQ2506-00105,เอ็มเอสไอจีประกันภัย,None,200000,0,1+,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1+ ซ่อมอู่
1,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,1,ซ่อมอู่,500000,10000000,5000000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
2,FQ2506-00108,แอกซ่าประกันภัย,None,0,0,,,0,0,0,...,0,0,0,0,พัทลุง,40,ems,2025-06-30,2026-06-30,
3,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,1,ซ่อมห้าง,500000,10000000,2500000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
4,FQ2506-00111,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-26295,กรุงเทพประกันภัย,None,100000,0,2+,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13066,FQ2506-26299,ธนชาตประกันภัย,None,410000,0,1,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
13067,FQ2506-26300,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13068,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1,ซ่อมอู่,1000000,10000000,5000000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
13069,FQ2506-26308,ไทยไพบูลย์ประกันภัย,None,100000,0,2+,ซ่อมอู่,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น2+ ซ่อมอู่

In [161]:
for col in df_merged.columns:
    print(col)

quo_num
company
company_prb
assured_insurance_capital1
is_addon
responsibility1
responsibility2
responsibility3
responsibility4
damage1
damage2
damage3
damage4
protect1
protect2
protect3
protect4
delivery_province
show_ems_price
show_ems_type
date_warranty
date_exp
insurance_class

In [7]:
df_merged = df_merged.drop(columns=['type','repair_type'])
df_merged

,quo_num,company,company_prb,assured_insurance_capital1,is_addon,responsibility1,responsibility2,responsibility3,responsibility4,damage1,...,protect1,protect2,protect3,protect4,delivery_province,show_ems_price,show_ems_type,date_warranty,date_exp,insurance_class
0,FQ2506-00105,เอ็มเอสไอจีประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1+ ซ่อมอู่
1,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
2,FQ2506-00108,แอกซ่าประกันภัย,None,0,0,0,0,0,0,0,...,0,0,0,0,พัทลุง,40,ems,2025-06-30,2026-06-30,
3,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
4,FQ2506-00111,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-26295,กรุงเทพประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13066,FQ2506-26299,ธนชาตประกันภัย,None,410000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
13067,FQ2506-26300,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13068,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
13069,FQ2506-26308,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น2+ ซ่อมอู่

In [92]:
for col in df.columns:
    print(col)
##car_year

quotation_num
ins_company
act_ins_company
sum_insured
income_comp_ins
human_coverage_person
human_coverage_atime
property_coverage
deductible
vehicle_damage
deductible_amount
vehicle_theft_fire
vehicle_flood_damage
personal_accident_driver
personal_accident_passengers
medical_coverage
driver_coverage
delivery_province
ems_amount
delivery_type
date_warranty
date_expired
insurance_class

In [8]:
rename_columns = {
    "quo_num": "quotation_num",
    "responsibility1": "human_coverage_person",
    "responsibility2": "human_coverage_atime",
    "responsibility3": "property_coverage",
    "responsibility4": "deductible",
    "damage1": "vehicle_damage",
    "damage2": "deductible_amount",
    "damage3": "vehicle_theft_fire",
    "damage4": "vehicle_flood_damage",
    "protect1": "personal_accident_driver",
    "protect2": "personal_accident_passengers",
    "protect3": "medical_coverage",
    "protect4": "driver_coverage",
    "company": "ins_company",
    "company_prb": "act_ins_company",
    "assured_insurance_capital1": "sum_insured",
    "date_warranty": "date_warranty",
    "date_exp": "date_expired",
    "insurance_class": "insurance_class",
    "show_ems_price": "ems_amount",
    "show_ems_type": "delivery_type",
    "is_addon": "income_comp_ins"
}

df = df_merged.rename(columns=rename_columns)
df

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_driver,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class
0,FQ2506-00105,เอ็มเอสไอจีประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1+ ซ่อมอู่
1,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
2,FQ2506-00108,แอกซ่าประกันภัย,None,0,0,0,0,0,0,0,...,0,0,0,0,พัทลุง,40,ems,2025-06-30,2026-06-30,
3,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
4,FQ2506-00111,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-26295,กรุงเทพประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13066,FQ2506-26299,ธนชาตประกันภัย,None,410000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
13067,FQ2506-26300,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13068,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
13069,FQ2506-26308,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น2+ ซ่อมอู่

In [102]:
df

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class,non_empty_count
0,FQ2505-02001,ประกันภัยไทยวิวัฒน์,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่,6
1,FN2505-00101,เอ็มเอสไอจีประกันภัย,None,2000000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,5
2,FQ2505-02002,วิริยะประกันภัย,None,330000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025-05-03,None,ชั้น1 ซ่อมอู่,7
3,FV2505-02001,None,เคดับบลิวไอประกันภัย,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025-05-06,2026-05-06,,7
4,FQ2505-02003,ทิพยประกันภัย,None,300000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1 ซ่อมอู่,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66533,FN2505-03998,เอ็มเอสไอจีประกันภัย,None,500000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,None,,6
66534,FQ2505-28009,เอ็มเอสไอจีประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025-06-28,2026-06-28,ชั้น3+ ซ่อมอู่,8
66535,FQ2505-28010,ซมโปะประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1 ซ่อมอู่,6
66536,FQ2505-28011,ชับบ์สามัคคีประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่,6
66537,FQ2505-28012,วิริยะประกันภัย,None,800000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1 ซ่อมห้าง,6

In [14]:
df['insurance_class'].unique()

array(['ชั้น1+ ซ่อมอู่', 'ชั้น1 ซ่อมอู่', '', 'ชั้น1 ซ่อมห้าง',
       'ชั้น2+ ซ่อมอู่', 'ชั้น3+ ซ่อมอู่', 'ชั้น3 ซ่อมอู่',
       'ชั้น2+ ซ่อมห้าง', 'ชั้น2 ซ่อมอู่', 'ชั้น1+ ซ่อมห้าง'],
      dtype=object)

In [55]:
print(set(df_cleaned.columns))

{'property_coverage', 'driver_coverage', 'deductible_amount', 'insurance_class', 'personal_accident_passengers', 'delivery_type', 'act_ins_company', 'deductible', 'personal_accident_driver', 'date_expired', 'ems_amount', 'medical_coverage', 'vehicle_theft_fire', 'income_comp_ins', 'date_warranty', 'sum_insured', 'human_coverage_atime', 'vehicle_damage', 'ins_company', 'human_coverage_person', 'vehicle_flood_damage', 'quotation_num', 'delivery_province'}

In [119]:
print(df_cleaned.columns.tolist())

['quotation_num', 'ins_company', 'act_ins_company', 'sum_insured', 'income_comp_ins', 'human_coverage_person', 'human_coverage_atime', 'property_coverage', 'deductible', 'vehicle_damage', 'deductible_amount', 'vehicle_theft_fire', 'vehicle_flood_damage', 'personal_accident_driver', 'personal_accident_passengers', 'medical_coverage', 'driver_coverage', 'delivery_province', 'ems_amount', 'delivery_type', 'date_warranty', 'date_expired', 'insurance_class']

In [15]:
df = df.replace(r'^\s*$', pd.NA, regex=True)  
df = df[df.count(axis=1) > 1]
df

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_driver,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class
0,FQ2506-00105,เอ็มเอสไอจีประกันภัย,None,200000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น1+ ซ่อมอู่
1,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
2,FQ2506-00108,แอกซ่าประกันภัย,None,0,0,0,0,0,0,0,...,0,0,0,0,พัทลุง,40,ems,2025-06-30,2026-06-30,<NA>
3,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
4,FQ2506-00111,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-26295,กรุงเทพประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13066,FQ2506-26299,ธนชาตประกันภัย,None,410000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
13067,FQ2506-26300,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ชั้น2+ ซ่อมอู่
13068,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
13069,FQ2506-26308,ไทยไพบูลย์ประกันภัย,None,100000,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01,2026-07-01,ชั้น2+ ซ่อมอู่

In [62]:
import pandas as pd
import numpy as np

# แปลงช่องว่างทุกแบบเป็น NaN ชั่วคราว เพื่อการนับข้อมูล
df_temp = df.replace(r'^\s*$', np.nan, regex=True)

# เพิ่มคอลัมน์ช่วยนับจำนวนข้อมูล (non-null)
df['non_empty_count'] = df_temp.notnull().sum(axis=1)

# >>>> ส่วนที่แก้ไขตรงนี้ <<<<
# ตรวจสอบ agent_id ที่ไม่ว่าง (ไม่ใช่ NaN และไม่ใช่ช่องว่าง)
valid_agent_id_mask = df['quotation_num'].astype(str).str.strip().ne('') & df['quotation_num'].notna()

# แยกกลุ่มที่ agent_id ไม่ว่างและ agent_id ว่าง
df_with_id = df[valid_agent_id_mask]
df_without_id = df[~valid_agent_id_mask]

# คัดแถวที่ agent_id ซ้ำ โดยเก็บแถวที่มีข้อมูลมากที่สุด
df_with_id_cleaned = df_with_id.sort_values('non_empty_count', ascending=False).drop_duplicates(subset='quotation_num', keep='first')

# รวมกลับ
df_cleaned = pd.concat([df_with_id_cleaned, df_without_id], ignore_index=True)

# ลบคอลัมน์ช่วย
df_cleaned = df_cleaned.drop(columns=['non_empty_count'])
df_cleaned = df_cleaned.replace(
    to_replace=r'^\s*$|(?i:^none$)|^-$',  # << แก้ตรงนี้
    value=np.nan,
    regex=True
)


df_cleaned.columns = df_cleaned.columns.str.lower()
df_cleaned

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_driver,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class
0,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
1,FQ2506-26271,วิริยะประกันภัย,None,340000,0,500000,10000000,1000000,0,340000,...,200000,200000,50000,200000,เชียงราย,40,ems,2025-08-09,2026-08-09,ชั้น1 ซ่อมอู่
2,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
3,FQ2506-26262,เมืองไทยประกันภัย,None,260000,0,1000000,10000000,5000000,0,260000,...,100000,100000,100000,300000,ระยอง,0,ems,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
4,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-13331,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13066,FQ2506-16871,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13067,FQ2506-17038,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13068,FQ2506-00511,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13069,FQ2506-12990,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>

In [63]:
df_cleaned.replace(np.nan, "NaN").isin(["none", "-", "None"]).sum()
df_cleaned

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_driver,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class
0,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
1,FQ2506-26271,วิริยะประกันภัย,None,340000,0,500000,10000000,1000000,0,340000,...,200000,200000,50000,200000,เชียงราย,40,ems,2025-08-09,2026-08-09,ชั้น1 ซ่อมอู่
2,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
3,FQ2506-26262,เมืองไทยประกันภัย,None,260000,0,1000000,10000000,5000000,0,260000,...,100000,100000,100000,300000,ระยอง,0,ems,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
4,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-13331,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13066,FQ2506-16871,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13067,FQ2506-17038,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13068,FQ2506-00511,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13069,FQ2506-12990,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>

In [ ]:
# df_cleaned.to_csv('dim_car1.csv', index=False, encoding='utf-8-sig')

In [64]:
df_cleaned = df_cleaned.replace(r'^\.$', np.nan, regex=True)
df_cleaned

,quotation_num,ins_company,act_ins_company,sum_insured,income_comp_ins,human_coverage_person,human_coverage_atime,property_coverage,deductible,vehicle_damage,...,personal_accident_driver,personal_accident_passengers,medical_coverage,driver_coverage,delivery_province,ems_amount,delivery_type,date_warranty,date_expired,insurance_class
0,FQ2506-26304,วิริยะประกันภัย,None,230000,0,1000000,10000000,5000000,0,230000,...,200000,200000,200000,250000,กาญจนบุรี,40,ems,2025-07-15,2026-07-15,ชั้น1 ซ่อมอู่
1,FQ2506-26271,วิริยะประกันภัย,None,340000,0,500000,10000000,1000000,0,340000,...,200000,200000,50000,200000,เชียงราย,40,ems,2025-08-09,2026-08-09,ชั้น1 ซ่อมอู่
2,FQ2506-00106,ธนชาตประกันภัย,None,350000,0,500000,10000000,5000000,0,350000,...,200000,200000,200000,200000,อุดรธานี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมอู่
3,FQ2506-26262,เมืองไทยประกันภัย,None,260000,0,1000000,10000000,5000000,0,260000,...,100000,100000,100000,300000,ระยอง,0,ems,2025-07-01,2026-07-01,ชั้น1 ซ่อมอู่
4,FQ2506-00109,แอลเอ็มจีประกันภัย,None,400000,0,500000,10000000,2500000,0,400000,...,100000,100000,100000,200000,จันทบุรี,40,ems,2025-06-01,2026-06-01,ชั้น1 ซ่อมห้าง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13065,FQ2506-13331,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13066,FQ2506-16871,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13067,FQ2506-17038,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13068,FQ2506-00511,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>
13069,FQ2506-12990,None,None,None,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,<NA>

In [65]:
df_cleaned['income_comp_ins'] = df_cleaned['income_comp_ins'].apply(lambda x: True if x == 1 else False if x == 0 else None)

In [66]:
cols_to_clean = [
    'sum_insured', 'human_coverage_person', 'human_coverage_atime',
    'property_coverage', 'deductible', 'vehicle_damage', 'deductible_amount',
    'vehicle_theft_fire', 'vehicle_flood_damage', 'personal_accident_driver',
    'personal_accident_passengers', 'medical_coverage', 'driver_coverage',
    'ems_amount'
]
for col in cols_to_clean:
    df_cleaned[col] = (
        df_cleaned[col]
        .astype(str)
        .str.replace(',', '', regex=False)
        .str.strip()
        .apply(lambda x: float(x) if x not in ['', 'None', 'nan', 'NaN'] else None)
    )

ValueError: could not convert string to float: '<NA>'

In [67]:
df_cleaned = df_cleaned.where(pd.notnull(df_cleaned), None)

In [24]:
import numpy as np

df_cleaned['insurance_class'] = df_cleaned['insurance_class'].replace({
    'ซ่อมอู่': np.nan  # ใช้ NaN ซึ่งจะกลายเป็น NULL ตอนเขียนลง PostgreSQL
})

In [68]:
df_cleaned['date_warranty'] = pd.to_datetime(df_cleaned['date_warranty'], errors='coerce')
df_cleaned['date_expired'] = pd.to_datetime(df_cleaned['date_expired'], errors='coerce')

In [44]:
import numpy as np
import pandas as pd

int_columns = [
    "sum_insured", "human_coverage_person", "human_coverage_atime", "property_coverage",
    "deductible", "vehicle_damage", "deductible_amount", "vehicle_theft_fire",
    "vehicle_flood_damage", "personal_accident_driver", "personal_accident_passengers",
    "medical_coverage", "driver_coverage", "ems_amount"
]

for col in int_columns:
    if col in df_cleaned.columns:
        # แปลงเป็น numeric coercing error เป็น NaN
        df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')
        # ถ้าอยากเก็บ NULL ในฐานข้อมูล → ใช้ dtype "Int64" ของ Pandas
        df_cleaned[col] = df_cleaned[col].astype("Int64")

# แปลง NaN เป็น None เพื่อเตรียม insert
df_cleaned = df_cleaned.where(pd.notnull(df_cleaned), None)
df_cleaned = df_cleaned.replace({np.nan: None})

print("✅ จัดการ column int เรียบร้อยแล้ว")

✅ จัดการ column int เรียบร้อยแล้ว

In [ ]:
df_cleaned

In [75]:
import numpy as np
import pandas as pd
import os
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.dialects.postgresql import insert  # ✅ ใช้ insert แบบ Postgres
from dotenv import load_dotenv

load_dotenv()

host = os.getenv('DB_HOST_test')
user = os.getenv('DB_USER_test')
password = os.getenv('DB_PASSWORD_test')
port = os.getenv('DB_PORT_test')
database = 'fininsurance'

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')

# ✅ ทำให้ NaN เป็น None
df_cleaned = df_cleaned.where(pd.notnull(df_cleaned), None)
df_cleaned = df_cleaned.replace({np.nan: None})

# ✅ กำหนด columns int ถ้ามี
int_columns = [
    "deductible", "human_coverage_person", "human_coverage_atime", "property_coverage",
    "personal_accident_driver", "personal_accident_passengers", "medical_coverage",
    "driver_coverage", "sum_insured", "ems_amount", "vehicle_damage", "deductible_amount",
    "vehicle_theft_fire", "vehicle_flood_damage"
]
for col in int_columns:
    if col in df_cleaned.columns:
        df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce').round()

df_cleaned = df_cleaned.where(pd.notnull(df_cleaned), None)

# ✅ Upsert function
def upsert_df_chunk_force(df: pd.DataFrame, table_name: str, key_column: str, chunk_size: int = 2000, schema: str = 'public'):
    metadata = MetaData(schema=schema)
    table = Table(table_name, metadata, autoload_with=engine)

    df = df[df[key_column].notna()]
    
    total_rows = len(df)
    total_chunks = (total_rows // chunk_size) + (1 if total_rows % chunk_size else 0)

    print(f"🎯 Row ทั้งหมด: {total_rows:,} (แบ่ง {total_chunks} ชุด, chunk size: {chunk_size})")

    for i in range(0, total_rows, chunk_size):
        df_chunk = df.iloc[i:i+chunk_size]
        rows = df_chunk.to_dict(orient='records')
        
        stmt = insert(table).values(rows)
        update_dict = {c.name: getattr(stmt.excluded, c.name) for c in table.columns if c.name != key_column}

        stmt = stmt.on_conflict_do_update(
            index_elements=[key_column],
            set_=update_dict
        )

        with engine.begin() as conn:
            result = conn.execute(stmt)
            affected_rows = result.rowcount

        print(f"   🚀 Chunk {i//chunk_size+1}/{total_chunks} ✔️ affected: {affected_rows:,}")

    print("✅🎯 Upsert ทุก row เสร็จสมบูรณ์!")

# ✅ เรียกใช้
upsert_df_chunk_force(df_cleaned, 'fact_insurance_motor', 'quotation_num')

🎯 Row ทั้งหมด: 13,070 (แบ่ง 7 ชุด, chunk size: 2000)
   🚀 Chunk 1/7 ✔️ affected: 2,000
   🚀 Chunk 2/7 ✔️ affected: 2,000
   🚀 Chunk 3/7 ✔️ affected: 2,000
   🚀 Chunk 4/7 ✔️ affected: 2,000
   🚀 Chunk 5/7 ✔️ affected: 2,000
   🚀 Chunk 6/7 ✔️ affected: 2,000
   🚀 Chunk 7/7 ✔️ affected: 1,070
✅🎯 Upsert ทุก row เสร็จสมบูรณ์!